body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans';
}
#navLi-container, #navBar{
    display: flex;
    width: 100%; 
}
#navLi-container{
    float: right; 
}
.nav-li{
    padding-left: 40px;
    padding-right: 40px; 
    list-style: none;
}
.atr-style{
    text-decoration: none;
    color: white; 
    font-size: 20px;
}
#nav-container{
    background-color: #0d333b;
    padding:10px; 
}
#footer{
    display: flex;
    justify-content: center;
    background-color: #0d333b;
}
#footer-location, #footer-social, #footer-contact{
    width: 33.3%;
}
.footer-cont{
    display: block;
}
.footer-title{
    font-size: 25px;
    color: white;
}
.footer-text{
    font-size: 18px;
    color: white;
}
#aboutMe-container{
    display: flex;
}
.aboutMe-cont{
    width: 50%; 
    padding: 40px;
    background-color: black;
    color: white; 
}
#aboutMe-button-cont{
    width: 100%;
    display: flex;
    justify-content: center;
}
#aboutMe-text{
    display: block;
}
.title-style1{
    font-size: 40px;
}
.title-style2{
    font-size: 30px;
}
.aboutMe-text{
    font-size: 20px; 
}
.empty-space{
    width: 100%;
    height: 150px;
    background-color: black;
}
#aboutMe-button{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin: 10px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    transition: all 0.5s;
    

}
#aboutMe-button:hover{
    background-color:#0d333b ;
    color: green; 
}
#skill-container{
    display: flex; 
}
.skill-cont{
    width: 50%; 
    padding: 40px;
    background-color: black;
    color: white; 
    text-align: center;
    display: block; 
}
#skill-title{
    width: 100%; 
}
.skills-button{
    margin-top: 40px; 
    padding: 20px; 
    width: 120px;
    border-radius: 10px;
    border: 0; 
}
.skill-button-cont{
    width: 100%;
}
#experience-container{
    padding: 40px;
    padding-left: 80px; 
    background-color: black;
    color: white; 
    text-align: left;
    display: block; 
}
#experience1-cont{
    font-size: 20px; 
    line-height: 40px;
    display: flex;
}
#experience1-text{
    font-size: 17px;
}
#experience1-img{
    text-align: center;
    margin-left: 20px;
}
#job-title{
    font-size: 24px; 
}
#logo-container{
    margin-top: 30px;
    padding-top: 70px;
}
#tamuLogo-img{
    width: 300px;
}
#cPlus-img, #js-img, #python-img{
    width: 40px; 
}
#java-img{
    width: 30px; 
}
#html-img{
    width: 80px; 
}
.lang-logo{
    padding: 0px;
}
.reveal{
    transition: 0.4s;
}
.reveal.hidden{
    opacity: 0;
    visibility: hidden;
}
.reveal::after{
    content: '';
    display: block;
}
.chart-container{
    display: flex;
    justify-content: left;
    padding-bottom: 20px;
    margin-left: 60px;
}
.barChart-container{
    content: '';
    width: 300px; 
    height: 10px;
    background-color: white;
    padding: 10px;
    margin-left: 20px;
    margin-top: 10px;
}