body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Open Sans';
}
#navLi-container,
#navBar {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#navLi-container {
    flex-direction: row-reverse;
}
.nav-li {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    list-style: none;
}
.atr-style {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#nav-container {
    background-color: #0d333b;
}
#nameLogo-img{
    width: 150px;
    margin-top: 10px;
    margin-left: 40px;
}
.current-page{
    background-color: #2da9ad;
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#bodyMain-container{
    background-color: black;
}
#footer {
    display: flex;
    justify-content: center;
    background-color: #0d333b;
}

#footer-location,
#footer-social,
#footer-contact {
    width: 33.3%;
}
.center-div{
    display: flex;
    justify-content: center;
}
.footer-cont {
    display: block;
}

.footer-title {
    font-size: 25px;
    color: white;
}

.footer-text {
    font-size: 18px;
    color: white;
}
.footer-logo{
    width: 50px;
}
#aboutMe-container {
    display: flex;
    width: 80%;
}

.aboutMe-cont1, .aboutMe-cont2 {
    width: 45%;
    padding: 40px;
    color: white;
}
.aboutMe-cont1{
    background-color: #212124	;
    width: 400px;
    border-radius: 20px;
    margin-right: 60px;
    height: 450px;
}

.aboutMe-button-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}
.name-text{
    font-size: 45px;
    font-weight: bold;
}
.aboutMe-text {
    display: block;
    font-size: 45px;
    margin-bottom: 50px;
    margin-top: 10px;
    
}
.reveal-after-typeText{
    display: none;
    border: 0 !important;
}
.border-reveal{
    border: 1px solid white; 
    border-radius: 12px;
}

.aboutMe-link{
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in;

}
#face-photo{
    border-radius: 50%;
    width: 200px;
}
.title-style1 {
    font-size: 40px;
}

.title-style2 {
    font-size: 30px;
}

.aboutMe-text {
    font-size: 20px;
}
.resume-button{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 20px;
    
}
.resume-button:hover{
    background-color: #0d333b;
    color: green;
}
.resume-button-cont{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 12px;
    width: 200px;
    height: 70px;
    padding: 20px;

}

.empty-space {
    width: 100%;
    height: 100px;
    background-color: black;
}


#skill-container {
    display: flex;
}

.skill-cont1, .skill-cont2 {
    width: 40%;
    padding: 40px;
    padding-top: 0;
    background-color: black;
    color: white;
    text-align: center;
    display: block;
}
.skill-cont2{
    border-radius: 15px;
    background-color: #212124;
    width: 400px;
    height: 550px;
    margin-top: 100px;
    margin-left: 100px;

}
#skill-title {
    width: 100%;
}

.skills-button {
    padding-top: 20px;
    padding-bottom: 50px;
    width: 200px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid white;
    transition: all 0.3s ease-in;
    text-decoration: none;
    color: white;
}

.skills-button:hover {
    color: #430873;
    background-color: #107d59;
    font-weight: 500;
    font-size: 20px;
    
}

.skill-button-cont {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 70px;
    margin-bottom: 40px;
}
.button-img{
    margin-left: 10px;
    width: 30px;
    height: 30px;
}
#front-end-button{
    width: 40px;
}
#experience-container {
    padding: 10px;
    padding-left: 80px;
    background-color:#161618;
    color: white;
    text-align: left;
    display: block;
    width: 80%;
    border-radius: 20px;

}

#experience1-cont {
    font-size: 18px;
    line-height: 40px;
    display: flex;
}

#experience1-text {
    font-size: 16px;
}

#experience1-img {
    text-align: center;
    margin-left: 20px;
}

#job-title {
    font-size: 20px;
}

#logo-container,
#chart-container {
    padding-top: 0px;
}

#tamuLogo-img {
    width: 250px;
}

#cPlus-img,
#js-img,
#python-img {
    width: 40px;
}

#java-img {
    width: 35px;
}

#html-img {
    width: 60px;
}
#tableau-img{
    width: 80px;
}
#excel-img{
    width: 30px;
}
.lang-logo {
    padding: 0px;
}

.reveal {
    transition: 0.4s;
}
.reveal.hidden {
    opacity: 0;
    visibility: hidden;
}

.reveal::after {
    content: '';
    display: block;
}

.lang-list {
    list-style: none;
    padding: 0;
    padding-left: 10px;
}

.logo-cont {
    padding-bottom: 20px;
}

#lang-chart-cont {
    display: flex;
    justify-content: left;
    padding-left: 20%;
}

.chart-cont {
    width: 300px;
    height: 10px;
    background-color: #29689e;
    padding: 1px;
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.5 ease-in;
}
#c-plus{
    width: 300px;
}
#js{
    width: 120px;
    margin-bottom: 75px;
}
#python{
    width: 100px;

}
#java{
    width: 120px;
    margin-bottom: 70px;
}
#web{
    width: 240px;
}
#tableau{
    width: 140px;
}
#excel{
    width: 100px;
}


