body {
    margin: 0;
    text-align: center;
    font-family: 'Open Sans';
}
#navLi-container, #navBar{
    display: flex;
    width: 100%; 
}
#navLi-container{
    float: right; 
}
.nav-li{
    padding-left: 40px;
    padding-right: 40px; 
    list-style: none;
}
.atr-style{
    text-decoration: none;
    color: white; 
    font-size: 20px;
}
#nav-container{
    background-color: #0d333b;
    padding:10px; 
}
#footer {
    display: flex;
    justify-content: center;
    background-color: #0d333b;
}

#footer-location,
#footer-social,
#footer-contact {
    width: 33.3%;
}

.footer-cont {
    display: block;
}

.footer-title {
    font-size: 25px;
    color: white;
}

.footer-text {
    font-size: 18px;
    color: white;
}
.footer-logo{
    width: 50px;
}